/bin/
/event.log
/gonet
gs.log
hub.log
stats.log
net.log
event.log
production.log
/nex
/pkg/
/src/labix.org/
/src/github.com/*
/y.output
/tags
.tags*
.DS_store
/net.log
/config.ini
/startall.sh
/log/*
/src/stats/stats_client/client
